body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100vw;
}

.project_links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
}

.project_links a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b55b67;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.project_links a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav_link:hover {
  background-position: right;
  background: -webkit-gradient(linear, left top, left bottom, from(#BF953F), color-stop(#FCF6BA), color-stop(#B38728), color-stop(#FBF5B7), to(#AA771C));
  background: linear-gradient(#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.big_card {
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 0px 10px #303134);
          filter: drop-shadow(0px 0px 10px #303134);
  color: whitesmoke;
  background-color: #303134;
  opacity: 1;
  width: 75vw;
  min-height: 75vh;
  right: 12.5vw;
  top: 7.5vw;
  z-Index: 999;
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.big_card_hidden {
  opacity: 0;
  height: 0;
  width: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes circle {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes circle {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@-webkit-keyframes widespan {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes widespan {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@-webkit-keyframes highspan {
  0% {
    height: 0%;
  }
  100% {
    height: 98%;
  }
}

@keyframes highspan {
  0% {
    height: 0%;
  }
  100% {
    height: 98%;
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 60px #b55b67;
            box-shadow: inset 0px 0px 0px 60px #b55b67;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 60px #b55b67;
            box-shadow: inset 0px 0px 0px 60px #b55b67;
  }
}

@media screen {
  html {
    height: 100vh;
    width: 100vw;
  }
  body {
    margin: 0;
  }
  #root {
    height: 100%;
    width: 100%;
  }
  .big_card {
    border-radius: 5px;
    -webkit-filter: drop-shadow(0px 0px 10px #303134);
            filter: drop-shadow(0px 0px 10px #303134);
    color: whitesmoke;
    background-color: #303134;
    opacity: 1;
    width: 95%;
    min-height: 75vh;
    top: 7.5vw;
    left: 2.5%;
    z-Index: 999;
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
}
/*# sourceMappingURL=Portfolio.css.map */